.profile-heading {
    text-align: center;
    font-size: 40px;
    padding: 10px 30px;
    border-bottom: 3px solid black;
    background-color: #7dd0f0;
}

.profile-section {
    background-color: #d3fcfa;
    padding-bottom: 30px;
}

.profile-info {
    border: 2px solid black;
    padding: 20px 30px;
    display: flex;
    gap: 70px;
    width: 700px;
    margin: 10px 4000px 10px 400px;
    background-color: #19e79c;
}

.profile-photo {
    width: 220px;
    height: 220px;
    border-radius: 100%;
}

.personal-info li {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 600;
    border-bottom: 2px solid black;
    width: 292px;
    text-align: center;
}

.personal-info li:first-of-type {
    margin-top: 35px;
}

.empty {
    border: 3px solid black;
}

.actions {
    display: flex;
    font-size: 14px;
    gap: 50px;
    margin-left: -36px;
    margin-top: 20px;
}

.user-actions {
    display: flex;
    justify-content: center;
    gap: 140px;
}

.created-recipes h1,
.saved-recipes h1,
.created-products h1 {
    font-size: 25px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 10px 90px 10px 100px;
}

.catalog-recipe {
    border: 3px solid black;
    width: 220px;
    border-radius: 8px;
    padding-bottom: 20px;
    background-color: #19e79c;
    margin-bottom: 20px;
    margin-top: 30px;
}

.catalog-recipe img {
    border-bottom: 3px solid black;
    border-radius: 6px;
    margin-bottom: 10px;
    height: 182px;
    width: 215px;
}

.catalog-recipe-title {
    font-size: 26px;
    margin-left: 10px;
}

.catalog-recipe-category {
    margin-left: 10px;
    margin-bottom: 15px;
}

.details-btn {
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.details-btn:hover {
    color: black;
    background-color: white;
}

.user-action {
    display: flex;
    flex-direction: column;
    gap: 0px;
    border: 2px solid black;
    padding-bottom: 20px;
}

.user-action li {
    margin: auto;
}

.delete-account {
    background-color: grey;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: 10px;
    margin-top: 0px;
    position: absolute;
    left: 69%;
    top: 22%;
    font-size: 20px;
}

.delete-account:hover {
    background-color: black;
    color: white;
}

.edit-account {
    background-color: grey;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: 10px;
    margin-top: 0px;
    position: absolute;
    left: 66%;
    top: 22%;
    font-size: 20px;
}

.edit-account:hover {
    background-color: black;
    color: white;
}


.modal-container {
    width: 400px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #19e79c;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

.modal-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-container p {
    font-size: 16px;
    margin-bottom: 20px;
}

.modal-container button {
    background-color: #fced81;
    color: black;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 50px;
}

.modal-container button:hover {
    background-color: #555;
    color: white;
}

#delete-cancel {
    background-color: #ccc;
    color: black;
}

#delete-cancel:hover {
    background-color: #555;
    color: white;
}