.modal-content {
    background-color: #f97c7c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 15%;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 400px;
}

#close-modal {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#close-modal:hover {
    background-color: #555;
}