@media all and (max-width: 500px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        border: none;
    }

    ul.nav-bar li:not(:first-child) {
        border-right: none;
    }

    ul.nav-bar li:nth-of-type(2) {
        border-left: none;
        padding-left: 0px;
    }
}